<nav class="site-nav" role="navigation">
  <a class="site-nav__home" href="{{ .Site.Home.RelPermalink }}">
    Home
  </a>
  <div class="site-nav__links">
    {{ $allowed := slice "Music" "Art" "Comics" "Maps" "Merch" "Past Events / Photos" "Community Board" }}
    {{ if .Site.Menus.main }}
      <ul class="site-nav__menu">
        {{ range .Site.Menus.main }}
          {{ if in $allowed .Name }}
            <li class="site-nav__item">
              <a class="site-nav__link" href="{{ .URL }}" title="{{ .Name }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>
